#include "resource.h"
#include <winresrc.h>

#if defined( QC )
IDI_ICON1               ICON    DISCARDABLE     "bloodrun.ico"
#else //QC 
IDI_ICON1               ICON    DISCARDABLE     "cpma.ico"
#endif // QC

STRINGTABLE DISCARDABLE 
BEGIN
#if defined( QC )
	IDS_STRING1             "Blood Run"
#else // QC
	IDS_STRING1				"The Challenge Network's Quake 3"
#endif // QC
END
